<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>BBC Portal Demo</title>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="wrapper">
      <div class="container">
        <h1>SSO Portal Demo</h1>
    
        <form class="form">
          <input type="text" placeholder="Username">
          <input type="password" placeholder="Password">
          <button type="submit" id="login-button">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
