<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>BBC Portal Demo</title>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body class="inapp">
    <div class="header-icons">
       <a class="header-logo" href="#"><img src="images/BBC_Logo.png"></a>
       <a class="header-icon--right" href="index.html">Logout</a>
    </div>
    <div class="wrapper--inapp">
      <nav>
        <ul>
          <li><a class="active" href='#'>myApps</a></li>
          <li><a href='#'>myId</a></li>
          <li><a href='#'>myHelp</a></li>
        </ul>
      </nav>
      <section class="main">
        <section class="app-links">
          <ul class="app-links">
            <li class="app-tile">
              <a class="app-tile-link" href="#"><img src="images/Microsoft-Office-365-logo.jpg"></a>
            </li>
             <li class="app-tile">
              <a class="app-tile-link" href="#"><img src="images/box-logo.png"></a>
            </li>
          </ul>
        </section>
      </section>
    </div>
  </body>
</html>